body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.dimmed.dimmable > .ui.animating.dimmer, .dimmed.dimmable > .ui.visible.dimmer, .ui.active.dimmer {
  display: flex;
  align-items: center;
  justify-content: center;
}
.ui.modal,
.ui.active.modal {
  margin: 0 auto!important;
  top: auto !important;
  left: auto !important;
  transform-origin: center !important;
  transition: all ease .5s;
}

.new-question-heading {
  line-height: 2.4 !important;
}

.new-question-button {
  margin-top: 15px !important;
}

.new-question-answer {
  padding-bottom: 15px;
}

.monaco-editor {
  border-radius: .28571429rem;
}

.monaco-editor .overflow-guard {
  border-radius: .28571429rem;
}